   <br>
   <br>
   <br>
   <br>
   
<div class="row">
         <div class=" raitgh col s12 m6">
           <div class="card">
               <div class="left card-image">
                     <a  href ="https://www.google.com/maps/@-17.3982275,-66.153311,21z"  class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">location_on</i></a>
                     <img style="width:500px; height:322px;" class="responsive-img center-align" src="assets/imagenes/tienda.jpg" alt="Card image cap" >                          
                     <span class="card-title black-text ">Ciudad Jardin</span>    
            </div>
           </div>
         </div>
                 
         
         <div class="row">
               <div class="col s12 m5">
                 <div class="card-panel card-responsive mt-3 red accent-1">
                   <span class="black-text">
                        Oficinas : #71 C. San Martin y Esq. Uruguay Frente al Banco Union. 
                        <br>
                        Para hacer un pedido, aclarar cualquier pregunta o hablar con uno de nuestros representantes, llamenos a: <br>
                        Los <b>Telefonos</b> <br>
                        (+591) 68940338 <br>
                        (+591) 76520449

                   </span>
                 </div>
                 <div class="card-panel red accent-1">
                     <span class="black-text">
                           Horario de Oficina <br>
                           Lunes a Viernes de 8:00 am - 7.00 pm <br>                   
                           Sabados de 8:30 am - 1pm
                     </span>
                   </div>
               </div>
         </div>
         <span class="center-align ">
              &nbsp;  Recuerda que hacemos entregas todos los dias de la semana y pudes realizar tu pedido las 24 horas de los 365 dias del año mediante nuestra pagina.
            Gracias por tu preferencia!
              <br>   &nbsp;Tus amigos de <b>Ciudad Jardin</b>
         </span>
         
 </div>
