<p></p>
<p></p>
<div align="center">

    <img style="width:500px; height:300px;" src="https://cdn.pixabay.com/photo/2015/02/14/02/18/bridal-636018__340.jpg">

    <div (click)='onDivClick($event)'>
        <button class="btn btn-primary" [class.active]="isActive" (click)="onClick($event)">Matrimonio</button>

        <p></p>
        <div align="center"><img style="width:500px; height:400px;" src="https://i.pinimg.com/474x/3a/1c/c5/3a1cc5f297d0a0b6844570ca2b6c0ece--hamper-happy-birthday.jpg">
            <div (click)='onDivClick($event)'>
                <button class="btn btn-primary" [class.active]="isActive" (click)="onClick($event)">Cumpleaños</button>
                <p></p>

                <div align="center"> <img style="width:500px; height:300px;" src="https://i.pinimg.com/474x/ba/20/ae/ba20aeb375451a6cfbea3322e5353ebb--ballerina-centerpiece-ballerina-baby-showers.jpg">
                    <div (click)='onDivClick($event)'>
                        <button class="btn btn-primary" [class.active]="isActive" (click)="onClick($event)">Bautizos</button>
                        <p></p>

                        <div align="center"> <img src="https://www.fantasiasmiguel.com/fantasias/dbmproyectos/imagenes/PROYECTOSR611.JPG">
                            <div (click)='onDivClick($event)'>
                                <button class="btn btn-primary" [class.active]="isActive" (click)="onClick($event)">Baby Shower</button>
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>
